* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "josefin Sans", sans-serif;
}
.left-wrapper {
  background: url("../images/bg-pattern-desktop.svg");
  background-size: cover;
  background-position: center center;
  padding: 0 40px;
  width: 598px;
  height: 610px;
  border: 2px solid rgb(64, 147, 81);
}
.inner-container {
  max-width: 450px;
  margin: auto;
}
.logo {
  margin: 60px 0;
  width: 200px;
}
.title {
  margin: 2.5em 0 0 0;
  font-size: 2.5rem;
  font-weight: 300;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: hsl(0, 33%, 82%);
  line-height: 1.2em;
}
.coming-soon {
  color: hsl(0, 6%, 24%);
  font-size: 2.5rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  margin-bottom: 0.5em;
  width: 50%;
  line-height: 1.2em;
}

.left-wrapper p {
  color: hsl(0, 36%, 70%);
  width: 60%;
  min-width: 400px;
  line-height: 1.5em;
  margin-bottom: 2em;
  font-size: 11px;
  color: rgb(192, 190, 190);
}
form {
  width: 100%;
  position: relative;
}
.input-wrapper {
  width: 65%;
  min-width: 400px;
}
.email {
  border: 1px solid hsl(0, 36%, 70%);
  border-radius: 50px;
  background: transparent;
  padding: 0 2em;
  margin: 0.2em;
  height: 50px;
  width: 70%;
  outline: none;
}

.icon-error {
  background: hsl(0, 93%, 68%);
  position: absolute;
  height: 25px;
  width: 25px;
  border-radius: 50px;
  top: 20px;
  right: 63%;
  transition: 0.5s;
  opacity: 0;
}

.error-text {
  font-size: 12px;
  font-weight: 600;
  color: hsl(0, 59%, 72%);
  padding: 0.8em 2rem;
  transition: 0.5s;
  opacity: 0;
}

.btn {
  background: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
  height: 55px;
  border: none;
  border-radius: 50%;
  outline: none;
  width: 90px;
  transform: translate(-55px, 3px);
  box-shadow: 0 10px 30px -5px hsl(0, 36%, 70%);
  cursor: pointer;
}
input::placeholder {
  color: hsl(0, 36%, 70%);
}
.btn:active {
  background: linear-gradient(135deg, hsl(0, 100%, 96%), hsl(0, 90%, 84%));
}

@media screen and (max-width: 1000px) {
  .hero-desktop {
    min-width: 480px;
  }
}

@media screen and (max-width: 768px) {
  .container {
    height: initial;
    flex-direction: column;
  }
  .text-wrapper {
    padding: 0;
  }
  .logo-wrapper {
    display: block;
  }
  .desktop-logo {
    display: none;
  }
  .logo {
    padding: 2em;
  }
  .title {
    font-size: 2.5rem;
    margin: 1.5em 0 0 0;
    text-align: center;
    width: 100%;
  }
  .hero-desktop {
    display: none;
  }
  .hero-mobile {
    display: block;
  }
  .coming-soon {
    width: 100%;
    font-size: 2.5rem;
    text-align: center;
    padding: 0 1em;
  }
  .text-wrapper p {
    text-align: center;
    font-size: 0.8rem;
    width: 100%;
    padding: 0 3.5em;
  }
  .input-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .icon-error {
    top: 13px;
    right: 34%;
  }
  .error-text {
    text-align: center;
  }
  .btn {
    position: absolute;
    height: 50px;
    transform: translate(-55%);
    right: 0;
  }
}
